* {
    box-sizing: border-box;
}

#main {
    position: relative;
    display: inline-block;
}

#sub {
    position: absolute;
    display: flex;
    width: 100%;
    align-items: center;
    padding: 20px;
}

#player-bar-container {
    position: relative;
    display: flex;
    justify-content: flex-end;
    height: 30px;
    width: 100%;
}

#player-bar {
    background-color: yellow;
    height: 30px;
    width: 100%;
}

#player-health {
    position: absolute;
    background-color: blue;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}

#timer {
    background-color: red;
    width: 100px;
    height: 100px;
    flex-shrink: 0;
}

#enemy-bar-container {
    position: relative;
    height: 30px;
    width: 100%;
}

#enemy-bar {
    background-color: yellow;
    height: 30px;
}

#enemy-health {
    position: absolute;
    background-color: blue;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}